*{
	font-family: "microsoft yahei";
	margin: 0px;
	padding: 0px;
}
/*导航栏*/
.head-top{
    background: #5fa022;
    padding: 0.8em 0;
}
.navbar-brand{
    padding: 0 0;
}

.navbar-brand>img{
    height: auto;
    margin-right: 5px;
    margin-top: 5px;
    width: 250px;
}

.navbar-default{
    padding: 1.5em 0;
    background-color: #f2f0f1;
    box-shadow: 12px -5px 39px -12px;
}

.navbar-default .navbar-nav>li a {
    top: 10px;
    padding: 0.5em 3em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    color:#919191;
}

.navbar-default .navbar-nav> li >a:hover,
.navbar-default .navbar-nav> li >a:focus {
    background:#D96B66;
    color: white;
    border-radius: 3px;
}

.navbar-right>a{
    color:#D96B66;
}

/*搜索区域*/
.search{
    background-size: cover;
    min-height: 600px;
    margin-top: -20px;
}

.reservation {
    padding: 60px 60px;
    width:50%;
    margin: 0 auto;
    margin-top:15%;
    font-weight: 500;
    color: #f2f0f1;
    font-size: 1.2em;
    outline: none;
}

.btn{
    width: 50% ;
    background: #D96B66;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
}
.form-control{
    color: #8e908d;
}
.searchbtn{
    text-align: center;
}

/*热卖商品*/
.hot h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 1em;
    padding: 0 0 0.5em;
    border-bottom: 2px solid #eee;
}
.hot p {
    color: #5fa022;;
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0;
}
.hot {
    padding: 3em 0;
    border: 1px solid #eee;
    margin: 0 0;
}
.hot h6 {
    color: #C15162;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0.3em 0;
}
a.morebtn {
    display: block;
    font-size: 1em;
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    background: #D96B66;
    padding: 10px 18px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
a.morebtn:hover{
    background:  #5fa022;
}
/*选项卡*/
.navbar-brand>img{
    height: auto;
    width:250px;
    margin-right: 5px;
    margin-top: 5px;
}

.nav-pills>li>a{
    color:#8e908d ;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #5A9522;
}
.choose{
    border: 1px solid silver;
}

.tab-content{
    margin: 5px;
    text-align: center;
}


/*轮播*/
.pic{
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}
.carousel {
    background: white;
}
/*底部*/
.footer {
    padding: 1em 0;
    background-color:#D96B66;
}
.footer p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
    vertical-align: middle;
    margin: 0.4em 0;
}
.footer p a{
    color: #fff;
    text-decoration:none;
}
.footer-left {
    float: left;
}
.footer-right {
    float: right;
}
.footer-right ul {
    padding: 0;
}
.footer-right li {
    display: inline-block;
    margin: 0 1em;
}
.glyphicon{
    font-size: 1.2em;
    color: #f2f0f1 ;
}


